{% extends 'base.html' %}

{% block title %}Billing Processing{% endblock %}

{% block content %}
{% load breadcrumb_tags %} 
{% block breadcrumbs %}
<div class="breadcrumbs">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% get_breadcrumbs request as breadcrumbs %}
            <li class="breadcrumb-item">
                <a href="/">ホーム</a>
            </li>
            {% for crumb in breadcrumbs %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active" aria-current="page">{{ crumb.name }}</li>
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{{ crumb.url }}">{{ crumb.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
</div>
{% endblock %}
  <h1>請求書作成</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}  <!-- 備考と請求書ファイルのフォームフィールドが表示されます -->

    <div>
      <button type="submit">保存</button>
    </div>
  </form>

  <h2>関連ポスト: {{ post }}</h2>
{% endblock %}
