{% extends 'project_management/base.html' %}

{% block title %}Project List{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mb-4">Project List</h1>
    <div class="table-responsive">
        <table class="table-custom">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td><a href="{% url 'project_management:ticket_list' project.id %}">{{ project.name }}</a></td>
                    <td>{{ project.start_date|date:"Y-m-j" }}</td>
                    <td>{{ project.end_date|date:"Y-m-j" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No projects available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}